<!-- xxxxxxxxxxxxxxxxxxx -->
    <!-- xxxxHERO IMAGExxxxx -->
    <!-- xxxxxxxxxxxxxxxxxxx -->
    <section class="container-fluid text-center bumpdown">
      <div class="row justify-content-center">
        <div class="col-lg-8">
        <img class="img-fluid w-50" src="/images/blog/blog1.png" alt="">
      </div>
      </div>  
    </section>
    <!-- About me initial text -->
    <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center pt-5">
      <div class="row w-100 align-items-center">
        <div class="col-lg-8 offset-lg-2 my-auto text-center">
          <h2 class="col-lg-12 text-center text-highlight pb-3">What exactly is coaching?</h2>
          <p class="lead text-justify">This was my question to a friend who recommend her own coach to me, many years ago. I didn’t get it. What was the point of coaching and how was it different to mentoring or therapy? Would they tell me what to do? Would they delve into my childhood and offer me a box of tissues? Like me, you may be wondering the same thing…</p>
          <p class="text-justify">In short, coaching helps you become the best version of yourself. A good coach will act as a mirror – they will ask thought-provoking questions to draw out your wisdom and expertise. They will listen, reflect back what they’ve heard and challenge.</p>
          <p class="text-justify">Unlike mentoring, coaching isn’t about telling you what to do or how to do it. Coaching helps you better understand your thoughts, feelings and ideas. It gets to the heart of the problem and helps you tease out the best way to get you to where you want to be.</p>
          <p class="text-justify">Coaching is focused on the future. It helps you take stock of where you are now and set
            goals for improvement, unlike therapy, which will look into the past to help you understand
            yourself today. Therapy helps you deal with big life issues and mental health problems such
            as depression, divorce and bereavement. It’s about getting you back to normal functioning.
            Coaching, on the other hand, helps you realise your goals and your true potential.</p>
        </div>
      </div>
      <div class="row w-100 text-center justify-content-center py-5">
        <div class="col col-lg-3">
          <a type="button" class="btn btn-outline-dark" href="/blogmain">Back to Blog</a>
        </div>
        <div class="col col-lg-3">
          <a type="button" class="btn btn-outline-dark" href="/blog2">Next article</a>
        </div>
      </div>
    </div>
    

    
    