<!-- xxxxxxxxxxxxxxxxxxx -->
<!-- xxxxHERO IMAGExxxxx -->
<!-- xxxxxxxxxxxxxxxxxxx -->
<!-- <section id="blog-main-cover"></section> -->
<!-- About me initial text -->
<div class="container-fluid d-flex flex-wrap justify-content-center align-items-center bumpdown">
  <div class="row w-100 align-items-center ">
    <div class="col-lg-8 offset-lg-2 my-auto text-center">
      <h2 class="col-lg-12 text-center text-highlight pb-3 text-muted bumpdown">The Essential Blog</h2>
    </div>
  </div>
  <div class="row text-center pb-5">
    <div class="col-lg-4 px-4 d-flex flex-column">
      <img class="rounded-circle mb-4 bg-white align-self-center" src="/images/blog/blog1.png" alt="Generic placeholder image" width="150"
        height="150">
      <h3 class="pb-2">What exactly is coaching?</h3>
      <p class="blog-trailer">This was my question to a friend who recommend her own coach to me, many years ago.
        I
        didn’t get it. What was the point of coaching and how was it different to mentoring or
        therapy?</p>
      <a type="button" class="btn btn-outline-dark mt-auto align-self-center" href="/what-is-career-coaching">Read more...</a>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 px-4 d-flex flex-column">
      <img class="rounded-circle mb-4 bg-white align-self-center"  src="/images/blog/blog2.png" alt="Generic placeholder image" width="150"
        height="150">
      <h3 class="pb-2">Why do I need a careers coach?</h3>
      <p class="blog-trailer">Coaching can seem a bit of a dark art and it's hard to know whether or not a careers coach
        is right for you. At the very least it's a space to experiment, practice and learn about yourself with someone
        who will hold you accountable to action and give you immediate feedback.</p>
      <a type="button" class="btn btn-outline-dark mt-auto align-self-center" href="/why-do-i-need-a-careers-coach">Read more...</a>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 px-4 d-flex flex-column">
      <img class="rounded-circle mb-4 bg-white align-self-center" src="/images/blog/blog3.png" alt="Generic placeholder image" width="150"
        height="150">
      <h3 class="pb-2">What kind of coach do I need?</h3>
      <p class="blog-trailer">One of the most important things to find out when you’re searching for a coach is
        whether or not you think you’ll work well with them. A good coach will be clear with you on
        their style and ways of working so that you can decide whether or not you’ll be a
        good fit.</p>
      <a type="button" class="btn btn-outline-dark mt-auto align-self-center" href="/what-kind-of-careers-coach-do-i-need">Read more...</a>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>