<!-- xxxxxxxxxxxxxxxxxxx -->
    <!-- xxxxHERO IMAGExxxxx -->
    <!-- xxxxxxxxxxxxxxxxxxx -->
    <section class="container-fluid text-center bumpdown">
      <div class="row justify-content-center">
        <div class="col-lg-8">
        <img class="img-fluid w-50" src="/images/blog/blog3.png" alt="">
      </div>
      </div>  
    </section>
    <!-- About me initial text -->
    <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center pt-5">
      <div class="row w-100 align-items-center">
        <div class="col-lg-8 offset-lg-2 my-auto text-center">
          <h2 class="col-lg-12 text-center text-highlight pb-3">What kind of coach do I need?</h2>
          <p class="lead text-justify">One of the most important things to find out when you’re searching for a coach is
            whether or not you think you’ll work well with them. Qualifications and experience are
            obviously important but if your coach is on a completely different wavelength to you,
            you may find this hindering your progress. A good coach will be clear with you on
            their style and ways of working so that you can decide whether or not you’ll be a
            good fit.</p>
          <p class="text-justify lead">So what kind of coach am I?</p>
          <ol class="text-left">
            <li>I’m a practical person and I like structure. I get to the heart of what’s going on
              and focus on clear, purposeful action to get you to where you want to be. I
              make sure you’re getting what you need from our sessions. I regularly ask for
              feedback and check that where we are going is aligned to who you want to
              be.</li>
            <li>I understand struggle. I’ve had my share of personal and career challenges.
              I’ve been stuck, anxious and worried. I’ve battled with self belief and figuring
              out the kind of person I want to be and the work I want to be doing.</li>
            <li>I’ve a huge amount of experience helping people through change. Outside of
              my coaching, I’ve spent many years as a workplace psychologist and I know
              how scary and overwhelming change can be. I know how best to support
              people through it.</li>
            <li>I’m all about learning and growth. I know from personal experience that quick
              fixes aren’t the answer. I believe in long-term effort and practice – it’s rarely a
              linear route to self-improvement. It’s often two steps forward, one step back.
              And that’s completely ok.</li>
            <li>I walk the talk. I have my own coach helping me grow and develop. I’ve seen
              first-hand the positive impact having a coach has had on my life.</li>
            <li>I don’t believe in a ‘one size fits all’ approach. I work with you to design a
              coaching plan that’s as unique as you are. There’s so much careers help and
              advice out there but what’s different about working with me is that everything
              is designed and tailored for you.</li>
          </ol>
        </div>
      </div>
      <div class="row w-100 text-center justify-content-center py-5">
        <div class="col col-lg-3">
          <a type="button" class="btn btn-outline-dark" href="/the-essential-career-blog">Back to Blog</a>
        </div>
      </div>
    </div>
    

    
    