<!-- xxxxxxxxxxxxxxxxxxx -->
    <!-- xxxxHERO IMAGExxxxx -->
    <!-- xxxxxxxxxxxxxxxxxxx -->
    <section id="blog1-cover"></section>
    <!-- About me initial text -->
    <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center pt-5">
      <div class="row w-100 align-items-center">
        <div class="col-lg-8 offset-lg-2 my-auto text-center">
          <h2 class="col-lg-12 text-center text-highlight pb-3">Hello...<span class="text-muted">I'm Nicola
              Thomas</span></h2>
          <p class="lead text-justify">I’m a career coach and the founder of Essential Coaching. I’m also a
            workplace psychologist and I’ve spent many years supporting organisations and
            individuals through periods of change. I know how difficult change can be. And how
            much easier it is to navigate when you’ve got the right support.</p>
        </div>
      </div>
    </div>
    