    <!-- xxxxxxxxxxxxxxxxxxx -->
    <!--  -->
    <!-- xxxxxxxxxxxxxxxxxxx -->
    

    <section id="career-cover" class="container-fluid bumpdown align-items-end align-items-md-center d-flex">
      <div class="container d-flex">
        <div class="row h-50">
          <div class="col-12 col-md-7">
            <h1 class="display-5 text-muted text-center text-md-left text-uppercase my-0 title-mobile rounded-lg py-3 ">Coaching for people who want to create a career they love</h1>
            <img src="" alt="">
            <!-- <a type="button" href="#process" class="btn btn-highlight text-light">Learn more...</a> -->
          </div>
        </div>
      </div>
    </section>

    <div class="container-fluid">
      <div class="container d-flex flex-wrap justify-content-center align-items-center pt-5">
        <div class="row w-100 align-items-center my-auto text-justify">
          <div class="col">
          <h3 class="text-muted pb-3">Coaching for people who want to create a career they love.</h3>
          <p class="lead-mobile text-justify text-muted">Do you feel stuck in your job? Unsure where to go next?
            Disillusioned,
            uninspired and need a
            change?
            Looking to get promoted but have no
            idea how you’ll get there? Got a great idea for a side hustle but not sure how to make it happen?</p>
          <p class="lead-mobile text-justify text-muted">Organisations are constantly changing, as are you. What
            worked for you
            in the past might not
            be right
            for you now. I coach high-achievers in their 20s and 30s, who are looking for change, growth and fulfilment
            in what they do next.
          </p>
        </div>
        </div>
      </div>
    </div>



    What I do
    Career coaching for professionals who want to create a career they love
    My three-step programme will help you make the most of your talents and unique skills. Whether you’re working for an
    organisation, running your own gig or you’re in transition, I will draw on my behavioural change expertise to help you kickstart your
    journey to a happier, more fulfilled career. Each of my clients is unique and has differing requirements but broadly, we work through
    the following stages:
     In the ‘Discover’ phase, we’ll get clear on your goals, mindset, values and strengths. This is all about who you are and what
    makes you tick. What’s your vision for the future? What’s your dream?
     In ‘Design’, we’ll spend time defining what’s important to you, exploring your options and what might be holding you back.
    We’ll create a plan of action and you’ll be clear on your next steps.
     ‘Disrupt’ is all about taking action! What are you going to do differently? You’ll be taking positive action to build habits and
    test your ideas and work towards your goals.
    Typically, I work with clients over 6-10 sessions; dependent on what you’re looking to achieve through coaching.
    Connect with me here [insert button] to arrange your 30-minute complimentary call to discuss what you’d like to get out of
    coaching and explore how I can help you.
    What you’ll get
    Whilst each coaching programme is personalised and tailored to you, they typically include:
     One-to-one, action-oriented 1-hour coaching sessions over a minimum period of 6 weeks.
     A unique, valuable blend of coaching, psychology and behavioural change insight.
     Clear goal setting and measurement of progress against these.
     Structured insight into your strengths and values, which will act as your guiding light for any decisions you make.
     Resources and exercises to accelerate your progress.
     Accountability to build positive habits and achieve your goals.
     A summary email of key points after each coaching session.
     Email/WhatsApp support between coaching sessions.

    Nikki’s coaching was great; so useful in making me think more critically about my decisions/actions for the future. Nikki was really
good at provoking thoughts about my direction that I hadn’t considered without the prompt.
- Jess, Nutritionist
My qualifications
[add from about me page]
My coaching style
[link to ‘What kind of coach do I need?’ blog article]
How I work
I’m based in South West London but all of my coaching conversations are currently conducted over Zoom. I am flexible with timings
during the week and coach during the day and evening.