<section id="contact-cover" class="contact-icons d-flex">
  <div
    class="container-lg bumpdown d-flex flex-row-wrap align-items-center justify-content-center justify-content-xs-end mt-sm-5">
    <div class="row w-100 d-flex p-2 mt-sm-5">
      <div class="col-12 col-sm-9 offset-sm-3 contact-background px-3 pt-3">
        <h1 class="featurette-heading text-dark text-center">Let's connect...</h1>
        <p class="text-dark m-0">Whether you're serious about making a change and would like to arrange a complimentary
          call, or you just have some questions, I'd love to hear from you. Please get in touch using the details below,
          or follow me on LinkedIn to learn more about what I do.</p>
      </div>
      <!-- </div>
      <div class="row w-100"> -->
      <div class="col-12 col-sm-9 col-md-3 offset-sm-3 text-center contact-background px-3 ">
        <a type="link" class="text-dark text-decoration-none"
          href="mailto:nikki@essentialcoaching.co.uk?subject=Essential Coaching Enquiry" target="_blank">
          <div class="contact-icons-item mx-auto">
            <div class="contact-icons-icon d-flex">
              <i class="far fa-envelope fa-lg m-auto text-highlight"></i>
            </div>
            <h5 class="text-dark">Email</h5>
            <p class="text-dark mb-0">nikki@essentialcoaching.co.uk</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-9 col-md-3 offset-sm-3 offset-md-0 text-center contact-background px-3">
        <a type="link" class="text-dark text-decoration-none" href="" target="">
          <div class="contact-icons-item mx-auto">
            <div class="contact-icons-icon d-flex">
              <i class="fas fa-phone m-auto text-highlight"></i>
            </div>
            <h5 class="text-dark">Phone</h5>
            <p class="text-dark mb-0">+44 7413 357 217</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-9 col-md-3 offset-sm-3 offset-md-0 text-center contact-background px-3">
        <a type="link" class="text-dark text-decoration-none"
          href="https://www.linkedin.com/in/nikki-thomas-essentialcoaching/" target="_blank">
          <div class="contact-icons-item mx-auto">
            <div class="contact-icons-icon d-flex">
              <i class="fab fa-linkedin fa-lg m-auto text-highlight"></i>
            </div>
            <h5 class="text-dark">LinkedIn</h5>
            <p class="text-dark mb-0">Nikki Thomas</p>
          </div>
        </a>
      </div>

      <!-- <div class="row w-100 d-flex p-2 pt-3"> -->
      <div class="col-12 col-sm-9 offset-sm-3 contact-background px-3 pt-5">
        <h5 class="text-dark text-center">The Essential Coaching mailing list</h1>
          <p class="text-dark m-0 py-2">Suspicious of joining yet another mailing list? Don't be. You'll only hear from me
            occasionally. I send news on events I'm running, useful career tips and coaching offers. Sign up here!</p>

      </div>
      <div class="col-12 col-sm-9 offset-sm-3 contact-background px-3 pb-5">
        <!-- Begin Mailchimp Signup Form -->
        <div class="pb-3">
          <div id="mc_embed_signup" class="">
            <form
              action="https://essentialcoaching.us17.list-manage.com/subscribe/post?u=3065fd3ec7c12f77f82258743&amp;id=541829f297"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                  required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                    name="b_3065fd3ec7c12f77f82258743_541829f297" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                    class="button"></div>
              </div>
            </form>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
</section>