  <section id="contact-cover" class="contact-icons d-flex align-items-center bumpdown-contact bumpup">
    <div class="container-lg">
      <div class="row justify-content-center">
        <div class="col col-md-6 offset-md-5 px-5 pt-3 contact-background">
          <h1 class="featurette-heading text-dark text-center">Let's connect...</h1>
          <p class="text-dark m-0">If you're serious about making a change, then I'd love to hear from you. Please get in touch to arrange a complimentary consultation or follow me on LinkedIn to learn more about what I do.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center align-items-center">
        <div class="col-12 col-md-6 offset-md-5 px-5 contact-background">
          <a type="button" class="text-dark text-decoration-none"
            href="mailto:nicola@essentialcoaching.co.uk?subject=Essential Coaching Enquiry" target="_blank">
            <div class="contact-icons-item mx-auto">
              <div class="contact-icons-icon d-flex">
                <i class="far fa-envelope fa-lg m-auto text-highlight"></i>
              </div>
              <h5 class="text-dark">Email</h5>
              <p class="text-dark mb-0">nicola@essentialcoaching.co.uk</p>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-6 offset-md-5 px-5 contact-background">
          <a type="button" class="text-dark text-decoration-none"
            href="" target="">
            <div class="contact-icons-item mx-auto">
              <div class="contact-icons-icon d-flex">
                <i class="fas fa-phone m-auto text-highlight"></i>
              </div>
              <h5 class="text-dark">Phone</h5>
              <p class="text-dark mb-0">+44 7413 357 217</p>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-6 offset-md-5 px-5 pb-3 contact-background">
          <a type="button" class="text-dark text-decoration-none"
            href="https://www.linkedin.com/in/nikki-thomas-essentialcoaching/" target="_blank">
            <div class="contact-icons-item mx-auto">
              <div class="contact-icons-icon d-flex">
                <i class="fab fa-linkedin fa-lg m-auto text-highlight"></i>
              </div>
              <h5 class="text-dark">LinkedIn</h5>
              <p class="text-dark mb-0">Nicola Thomas</p>
            </div>
          </a>
        </div>
  </section>
