  <section id="contact-cover" class="contact-icons d-flex">
    <div class="container-lg d-flex flex-row-wrap align-items-center justify-content-center justify-content-xs-end mt-sm-5">
      <div class="row w-100 d-flex p-2 mt-sm-5">
        <div class="col-12 col-sm-9 offset-sm-3 contact-background px-3 pt-3">
          <h1 class="featurette-heading text-dark text-center">Let's connect...</h1>
          <p class="text-dark m-0">If you're serious about making a change, or just have some questions about coaching then I'd love to hear from you. Please get in touch with any queries, to arrange a complimentary consultation or follow me on LinkedIn to learn more about what I do.</p>
        </div>
      <!-- </div>
      <div class="row w-100"> -->
        <div class="col-12 col-sm-9 col-md-3 offset-sm-3 text-center contact-background px-3 ">
          <a type="link" class="text-dark text-decoration-none"
            href="mailto:nicola@essentialcoaching.co.uk?subject=Essential Coaching Enquiry" target="_blank">
            <div class="contact-icons-item mx-auto">
              <div class="contact-icons-icon d-flex">
                <i class="far fa-envelope fa-lg m-auto text-highlight"></i>
              </div>
              <h5 class="text-dark">Email</h5>
              <p class="text-dark mb-0">nicola@essentialcoaching.co.uk</p>
            </div>
          </a>
        </div>
        <div class="col-12 col-sm-9 col-md-3 offset-sm-3 offset-md-0 text-center contact-background px-3">
          <a type="link" class="text-dark text-decoration-none"
            href="" target="">
            <div class="contact-icons-item mx-auto">
              <div class="contact-icons-icon d-flex">
                <i class="fas fa-phone m-auto text-highlight"></i>
              </div>
              <h5 class="text-dark">Phone</h5>
              <p class="text-dark mb-0">+44 7413 357 217</p>
            </div>
          </a>
        </div>
        <div class="col-12 col-sm-9 col-md-3 offset-sm-3 offset-md-0 text-center contact-background px-3">
          <a type="link" class="text-dark text-decoration-none"
            href="https://www.linkedin.com/in/nikki-thomas-essentialcoaching/" target="_blank">
            <div class="contact-icons-item mx-auto">
              <div class="contact-icons-icon d-flex">
                <i class="fab fa-linkedin fa-lg m-auto text-highlight"></i>
              </div>
              <h5 class="text-dark">LinkedIn</h5>
              <p class="text-dark mb-0">Nikki Thomas</p>
            </div>
          </a>
        </div>
        <div class="break col-12 py-3"></div>
  </section>
