    <!--xxxxxxxxxxxxxxx-->
    <!-- Footer -->
    <!--xxxxxxxxxxxxxxx-->
    <footer>
      <div class="footer fixed-bottom container-fluid bg-secondary border-top">
        <div class="row footer-contact justify-content-center align-items-center bg-highlight">
          <div class="text-light footer-copyright text-center py-3">© Essential Coaching</div>
        </div>
      </div>
    </footer>