    <!--xxxxxxxxxxxxxxx-->
    <!-- Footer -->
    <!--xxxxxxxxxxxxxxx-->
    <footer>
      <div class="footer container-fluid bg-secondary border-top">
        <div class="row footer-contact justify-content-center py-3">
          <div class="col-12 text-center">
            <h4 class="footer-title text-muted nav-link">Contact me</a>
          </div>
        </div>
        <div class="row justify-content-center align-items-center pb-3">
          <div class="col-xs-12 col-md-4 col-lg-3 col-xl-2 pb-3 text-center">
            <a type="button" class="text-muted" href="mailto:jwpf100@gmail.com?subject=Essential Coaching Enquiry"
              target="_blank"><i class="far fa-envelope fa-lg text-muted mr-3"></i>jwpf100@gmail.com</a>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3 col-xl-2 pb-3 text-center">
            <a class="text-muted"><i class="fas fa-phone fa-lg text-muted mr-3"></i>+44 7957 450 010</a>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3 col-xl-2 pb-3 text-center">
            <a type="button" class="text-muted" href="https://www.linkedin.com/in/nikki-thomas-essentialcoaching/"
              target="_blank"><i class="fab fa-linkedin fa-lg mr-3"></i>Nicola Thomas</a>
          </div>
        </div>
        <div class="row footer-contact justify-content-center align-items-center bg-dark">
          <div class="text-light footer-copyright text-center py-3">© Essential Coaching</div>
        </div>
      </div>
    </footer>