<!--End mc_embed_signup-->
    <!-- Begin Mailchimp Signup Form -->
    <div class="py-3 footer">
    <div id="mc_embed_signup" class="">
      <form
        action="https://essentialcoaching.us17.list-manage.com/subscribe/post?u=3065fd3ec7c12f77f82258743&amp;id=541829f297"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <div id="mc_embed_signup_scroll">
          <label class="lead text-muted mr-3" for="mce-EMAIL">Join my mailing list here!</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
              name="b_3065fd3ec7c12f77f82258743_541829f297" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
              class="button"></div>
        </div>
      </form>
    </div>
  </div>

<!--xxxxxxxxxxxxxxx-->
<!-- Footer -->
<!--xxxxxxxxxxxxxxx-->
<footer>
  <div class="container-fluid bg-secondary border-top footer">
    <div class="row footer-contact justify-content-center">
      <div class="col-12 text-center">
        <label class="lead text-muted pt-3">Contact me</label>
      </div>
    </div>

    
    

    <div class="row justify-content-center align-items-center pb-3">
      <div class="col-xs-12 col-md-4 col-lg-3 pb-3 text-center">
        <a type="link" class="text-muted text-decoration-none"
          href="mailto:nikki@essentialcoaching.co.uk?subject=Essential Coaching Enquiry" target="_blank"><i
            class="far fa-envelope fa-lg text-muted mr-3"></i>nikki@essentialcoaching.co.uk</a>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3 pb-3 text-center">
        <a class="text-muted text-decoration-none"><i class="fas fa-phone fa-lg text-muted mr-3"></i>+44 7413 357
          217</a>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3 pb-3 text-center">
        <a type="link" class="text-muted text-decoration-none"
          href="https://www.linkedin.com/in/nikki-thomas-essentialcoaching/" target="_blank"><i
            class="fab fa-linkedin fa-lg mr-3"></i>Nikki Thomas</a>
      </div>
    </div>
    <div class="row footer-contact justify-content-center align-items-center bg-highlight">
      <div class="text-light footer-copyright text-center py-3">© Essential Coaching</div>
    </div>
  </div>
</footer>