<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177419735-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-177419735-1');
  </script>




  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= metaDescription %>">

  <!-- FONTS -->

  <!-- <link rel="stylesheet" href="/bundle.css"> -->
  <!-- <link rel="stylesheet" href="/src/stylesheets/custom.css"> -->
<link rel="stylesheet" href='./stylesheets/custom.css'>

  <title><%= title %></title>
  <link rel="icon" href="/images/logo/favicon.ico" type="image/x-icon">

  <!-- Mailchimp  -->
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3065fd3ec7c12f77f82258743/fa74d445d069a83b2d7b3cb19.js");</script>

  <!-- Extra CSS  -->
</head>