<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- FONTS -->
  <!-- <link href="/fonts/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/fonts/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"> -->
  <!-- Removing bootstrap as included in SCSS -->
  <!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
  
  <!--  -->
<!-- src developemnt /bundle production -->
<!--  -->
  

<link rel="stylesheet" href="/bundle.css">
  <!-- <link rel="stylesheet" href="/src/stylesheets/custom.css"> -->


  <!-- <link rel="stylesheet" href="/stylesheets/custom.css">
   -->
  
  <!-- Bootstrap CSS -->
  <!-- Temporary - for testing purposes  -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <title><%= title %></title>
  <link rel="icon" href="/images/logo/favicon.ico" type="image/x-icon">
  <!-- Extra CSS  -->
</head>