@media (max-width: 576px) {
  #home-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.0)), url('/images/hero/landscape-trim-small.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 60vh;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  #home-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.0)), url('/images/hero/landscape-trim-mid.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 60vh;
  }
}

@media (min-width: 769px) {
#home-cover { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.0)), url('/images/hero/landscape-trim.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 60vh;
  }
}

.shadow-header {
  text-shadow: 2px 2px 2px black ;
}

#home-caption {
  background: #222 url("../img/yellow-pencils.jpg");
  padding-top: 3.5rem;
  min-height: 100%;
  background-size: cover;
  color: white;
}

.blog-trailer {
//  min-height: 196px;
}

.page-down-btn {
height: 38px;
width: 38px;
}
