  #blog1-cover { 
      background-image: linear-gradient(rgba(0,0,0, 0.25), rgba(239, 239, 239, 0.0)), url('/images/blog/blog1.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      min-height: 60vh;
    }

    #blog2-cover { 
      background-image: linear-gradient(rgba(0,0,0, 0.25), rgba(239, 239, 239, 0.0)), url('/images/blog/blog2.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      min-height: 60vh;
    }

    #blog3-cover { 
      background-image: linear-gradient(rgba(0,0,0, 0.25), rgba(239, 239, 239, 0.0)), url('/images/blog/blog3.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      min-height: 60vh;
    }
